{
  "STAFF_USERNAME": "your-staff-username",
  "STAFF_PASSWORD": "your-staff-password",
  "PROPONENT_USERNAME": "your-proponent-username",
  "PROPONENT_PASSWORD": "your-proponent-password",
  "PROPONENT_BCSC_USERNAME": "your-bcsc-test-username",
  "PROPONENT_BCSC_PASSWORD": "your-bcsc-test-password",
  "PROPONENT_BCEID_USERNAME": "your-bceid-test-username",
  "PROPONENT_BCEID_PASSWORD": "your-bceid-test-password"
}
